* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  margin-right: 20px;
}

header {
  height: 100px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

header nav {
  display: flex;
  gap: 30px;
} 